
.container{
    width: 95%;
    max-width: 10000px;
    margin: 10px auto;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 4 ;
}

.container >div,
.container .header,
.container .imagenes,
.container .proposito,
.container .temas,
.container .login,
.container .footer{
    

    background-color: white;
    padding: 10px;
    border-radius: 10px;
}


.container .header{
    background: #33ACFF;
    grid-column-start: 1;
    grid-column-end: 4;
}
    

   .container .header  ul{
        list-style: none;
        padding:0px;
    margin: 0px;
         }
     .header li{
         float: right;
         
     }
     .header li ul{
         display: none;
     }
     .header li:hover> ul{
         display: block;
     }
     .header li ul li{
         position: relative;
     }
     .header li ul li ul{
         right: -140px;
         top: 0px;
     }
        
      
     .header li a{
        display: block;
        text-decoration: none;
        padding: 10px 10px;
        }  
       
    .container> .header > ul > li >a:hover{
            background-color: gray;
            color: aliceblue;
        }
    

    


.container .imagenes{
    grid-column: span 2;
    background: #C6D4D4;    

}
.container .imagenes .cont-imagenes
{
    background: #EDF1F1;
    font-family: Arial;
    border-radius: 4px;
    padding: 2.54cm;
}

.container .proposito{
    grid-column: 3 / 4 ;
    background: #C6D4D4;
    text-align: center;
    grid-row: 2 / 4;
}

.container .proposito .prop

{
    background: #EDF1F1;
    font-family: Arial;
    grid-column: span 2;
    border-radius: 4px;
    padding: 1cm;
    height: 45%;
    text-align: left ;
}
.container .proposito .noticias
{
    background: #EDF1F1;
    grid-column: span 2;
    height: 45%;
}

.container .temas
{
    background: #C6D4D4;
    
    grid-column: span 2;
    grid-row: span 2;
} 

.container .temas .widget-1

{
    background:#33ACFF ;
    grid-column: span -1;
   
    
}
.container .temas .widget-2
{
    background:#33ACFF ;
    grid-column: span 1;
    
}

.container .login{
    background: #33ACFF;
    grid-column:  3 / 4;
}

.container .footer{
    grid-column: span 4 / 5;
    background:#33ACFF ;
}